<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Admin Recomendations</h3>
	</div>
	<div class="panel-body">
		<div class="row" ng-repeat="recipe in main.adminRecipes | limitTo:5">
			<div class="col-md-3 col-sm-4 col-xs-4">
		    	<a ui-sref="recipe({recipeID: '{{recipe._id}}'})">
		        	<img class="img-responsive" ng-src="data/images/none.jpg" alt="{{recipe.name}}">
		    	</a>
		    </div>
		    <div class="col-md-9 col-sm-8 col-xs-8 smallFont">
			    <ul class="list-unstyled">
			    	<li><a ui-sref="recipe({recipeID: '{{recipe._id}}'})">{{recipe.name}}</a></li>
			    	<li>Author: {{recipe.author}}</li>
			    	<li>Created: {{recipe.dateCreated}}</li>
			    </ul>
			</div>
		</div>
	</div>
</div>